body{
	background:url('../img/layer4.jpg');
	font-family: Poppins;
}
.container{
	display:flex;
	flex-wrap:nowrap;
	padding-right:0 !important;
	padding-left:0 !important;
	margin-right: 15px !important;
	margin-right: 15px !important;
}

header{
	background: transparent;
	color:#fff;
	padding:30px;
}

.logo{
	flex:1;
}

.menu{
	flex:1;
}

header a{
  color:#ffffff;
  text-decoration:none !important;
  text-transform:uppercase;
  font-size:16px;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

header ul{
  margin:0;
  padding:0;
}

.menu li{
  float:left;
  display:inline-block;
  padding:0 40px 0 40px;
}

header .logo{
  float:left;
  padding-left:5px;
}

header .menu{
  float:right;
  margin-top:10px; 
}

header .logo,.menu{
  display:inline-block;
}


header ul li{
	text-decoration: none !important;
}

.first_second{
  display:flex;
  flex-direction: row;
  width:100%;
  margin-right: 30px !important;
  margin-left: 35px !important;
}

.first{
	margin-top:120px;
  flex:15;
  
}

.first h5{
  height: 42px;
  object-fit: contain;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.2px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 10px;
}

.first p{
  height: 69px;
  object-fit: contain;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.1px;
  text-align: left;
  color: #ffc6c6;
}

.first img{
	margin-top: 10px;
}

.icons {
  width:100%;
  height:auto;
  margin:auto;
  padding-top: 20px;
}

.icons ul{
  margin: 0;
  padding: 0;
}

.icons ul li{
  float:left;
  display:block;
  width:20px;
  height:30px;
  border-radius:100%;
  background:#f03f4e;
  margin:5px 5px;
  padding:3px 8px;
}

.icons ul li a{
  font-size:15px;
  padding-left: 4px;
}

.icons ul li a i{
  line-height:32px;
  color:white;
}



.button{
  margin-top: 20px;
}

.second{
	margin-top:45px;
	flex:5;
}

.second_image img{
	padding-left: 88px;
	margin-top:20px;
}
.hamburger{
  display:none;
}
.mobile-menu{
  display:none;
}